Click==7.0
Flask==1.1.2
Flask-SQLAlchemy==2.4.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pdf2image==1.5.4
Pillow==6.2.0
PyMySQL==0.9.3
pyocr==0.6
PyPDF2==1.26.0
pytesseract==0.2.6
six==1.12.0
SQLAlchemy==1.3.4
Werkzeug==0.15.4
