<nav class="navbar navbar-dark navbar-expand-lg  bg-dark">
{#    icon#}
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    {#menu#}
    <div class="collapse navbar-collapse" id="navbarText">

        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>

          <ul class="nav navbar-nav navbar-right">
            <a class="nav-link" href="#">Log in</a>
        </ul>

    </div>
</nav>