{% extends 'elements/base.html' %}

{% block head %}

     <script src="{{ url_for('static', filename='js/selection.js') }}"></script>
     <script src="{{ url_for('static', filename='js/correction.js') }}"></script>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}"/>
{% endblock %}

{% block body %}

<div class="container">

    <div class="row mb-3">
        <h3 class="mt-1">Extract</h3>
    </div>

    <div class="row mb-3">

        {# col of all page's image scroll #}
        <div class="col-md-3">

            <ul class="list-group scroll-list-image " style="height: 770px;">

                {% for  page in pages %}

                    {% if loop.index == 0 %}
                        {% set first_page_num = page.num_page %}
                    {% endif %}

                    <li class="page-element-selection list-group-item" data-pdf_id="{{ pdf_id }}" data-page_number="{{ page.num_page }}">
                        <div class="card">
                            <div class="card-header">
                                {% set num = page.num_page|int + 1 %}
                                {{ num }}
                            </div>
                            <div class="card-body">
                                <img width="100%" src="{{ url_for('scan_app.get_images' , pdf_id=pdf_id , page_number=page.num_page) }}">
                            </div>
                        </div>
                    </li>

                {% endfor %}
            </ul>

        </div>

        {# tabs text and image #}
        <div class="col-md-9">

            <div id="load-process"></div>

            {# list tab#}
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="canvas-tab" data-toggle="tab" href="#canvas" role="tab" aria-controls="canvas" aria-selected="true">Image</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="text-tab" data-toggle="tab" href="#text" role="tab" aria-controls="text" aria-selected="false">Text</a>
              </li>
            </ul>

            {# tab content #}
            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="canvas" role="tabpanel" aria-labelledby="canvas-tab">
                    <canvas id="canvas-selection" class="m-2" style="border:1px solid gray;" value="">
                    Your browser does not support the canvas element.
                    </canvas>
                </div>

                <div class="tab-pane fade" id="text" role="tabpanel" aria-labelledby="text-tab">
                    <form method="post">
                        <textarea id="textarea-text-page" class="m-2" style="width:100%; height:500px;">
                        </textarea>
                        <input class="btn btn-primary btn-correction" type="submit" value="Edit">
                    </form>
                </div>

            </div>

         </div>

      </div>

    </div>

{% endblock %}
